{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
      <head>
        {{block "css" .}}

        {{end}}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {{block "title" .}}

        {{end}}
        <link rel="stylesheet" href="style.css">
      </head>
      <body>
        <div class="content">
            {{block "content" .}}

            {{end}}
        </div>
        {{block "js" .}}

        {{end}}

      </body>
    </html>
{{end}}